<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/icons/bootstrap-icons.css">
    <title>Nicht gefunden</title>
</head>

<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h1 class="card-title my-4">Post nicht gefunden</h4>
                    <div class="card-subtitle text-muted mb-2">
                        Dieser Post konnte nicht gefunden werden.
                    </div>
                    <div class="card-text mb-2">
                        <a href="/" class="btn btn-primary">Zur Startseite</a>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>