<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/material.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Blog - Post bearbeiten</title>
  </head>

  <body>
    <div class="page-content">
      <div style="width: 100%; padding: 1rem">
        <h1>Post nicht gefunden</h1>

       <p>
        Dieser Post konnte nicht gefunden werden. ☹️
       </p>

       <a href="/" class="link"><i class="material-icons">arrow_back</i>Zur Startseite</a>
      </div>
    </div>
  </body>
  <script src="/static/material.min.js"></script>
</html>
