<dialog class="mdl-dialog dialog-confirm" id="dialog_<%=article.id%>">
    <h4 class="mdl-dialog__title">Post löschen</h4>
    <div class="mdl-dialog__content">
      <p>
        Wollen Sie <b>"<%= article.title %>"</b> wirklich löschen ?
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="/articles/delete/<%= article.id %>" class="mdl-button mdl-button--accent">Ja</a>
      <button type="button" class="mdl-button close">Nein</button>
    </div>
  </dialog>
  