<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/icons/bootstrap-icons.css">
    <title>Blog - Post bearbeiten</title>
</head>

<body>
    <div class="container">
        <h1 class="my-4">Post bearbeiten</h1>

        <form action="/articles/<%= article.id %>" method="POST">
            <%- include("_form_fields") %>
        </form>
    </div>
</body>

</html>