<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/material.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Blog - Neuer Post</title>
  </head>

  <body>
    <div class="page-content">
      <div style="width: 100%; padding: 1rem">
        <h1>Post erstellen</h1>

        <form action="/articles" method="POST">
          <%- include("_form_fields") %>
        </form>
      </div>
    </div>
  </body>
  <script src="/static/material.min.js"></script>
</html>
