<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/material.min.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>Blog</title>
</head>


<body class="gradient-bg">
    <div class="page-content">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__content">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Benutzer einloggen</h2>
                </div>
                <div style="padding:1rem">
                    <!-- Form is send via ajax to handle the accessToken directly from response of that post and write it to sessionStorage for example -->
                    <form action="/login" method="POST">
                        <div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                                style="width: 100%">
                                <input class="mdl-textfield__input" type="text" id="email" name="email"
                                    value="<%=user.email%>" required />
                                <label class="mdl-textfield__label" for="email">Email *</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                                style="width: 100%">
                                <input class="mdl-textfield__input" type="password" id="password" name="password"
                                    required />
                                <label class="mdl-textfield__label" for="password">Passwort *</label>
                            </div>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button type="submit" class="mdl-button mdl-button--accent">Login
                            </button>
                            <a href="/" class="mdl-button close">Abbrechen</a>
                        </div>
                    </form>

                    Noch kein Konto ? Hier <a href="/register">registrieren</a>.
                </div>
            </div>

            <% if(error){ %>
                <div class="error">
                    <%=error%>
                </div>
                <% } %>
        </div>
    </div>
</body>

<script src="/static/material.min.js"></script>
<!-- <script src="/assets/scripts/ajax.js"></script> -->

</html>