.page-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 26rem;
}

.demo-card-wide.mdl-card {
  width: 100%;
  height: auto;
  margin: 1rem;
}

.card-170 {
  height: 170px;
}

.demo-card-wide > .mdl-card__title {
  color: #555;
  background: url("../assets/demos/welcome_card.jpg") center / cover;
}

.mdl-card__supporting-text {
  color: #aaa;
}
.demo-card-wide > .mdl-card__menu {
}

.button-new {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: #F16D0E !important;
}

.date {
  color: #666;
  font-size: 12px;
}

.link {
  display: inline-flex;
  text-decoration: none;
}

.link .material-icons {
  margin-top: -2px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.gradient-bg {
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
